body {
    font-family: "Scope One", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

.logo_pur_beurre {
    height: 2rem;
}

.portrait {
    background-color: white;
    border: 10px solid #C45525;
    border-radius: 10px;
    width: 350px;
    height: 350px;
}

#services {
    color: white;
    background-color: #DE9440;
}

footer {
    background-color: #345A61;
}

footer a{
    color: white;
}

#mainNav {
    background-color: #345A61;
}

#button-addon2 {
    background-color: #C45525;
    color: white;
    outline: none;
}

#carrot {
    width: 20px;
    height: 40px;
}

#noun {
    width: 100px;
    height : 170px;
}

#login {
    padding-top: 8rem;
    padding-bottom: calc(10rem - 4.5rem);
    background-image: url("../img/olenka-kotyk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
