{% extends 'base.html' %}
{% load static %}
{% block title %}Mon profil{% endblock %}
{% block content %}
<section id="kotyk" class="h-75">
    <div class="container">
        <div class="row justify-content-center text-light mt-5">
            <h1 class="bg-secondary p-2 rounded">{{ user.username }}</h1>
        </div>
    </div>
</section>
<section class="h-25">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <h2>{{ user.email }}</h2>
        </div>
    </div>
</section>
{% endblock %}
