{% extends 'base.html' %}
{% load static %}
{% block title %}Se connecter{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<section id="harasai" class="h-100">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="bg-secondary p-2 rounded text-light">Se connecter</h1>
        </div>
        <div class="row justify-content-center">
            <form method="post" class="bg-light p-3 w-50">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Se connecter</button>
                <p class="mt-3">Nouveau ici? <a href="{% url 'user:register' %}">Créer un compte</a></p>
            </form>
        </div>
    </div>
</section>
{% endblock %}
